<div class="card mt-4">
    <div class="card-body">
        <h2 class="siplay-4">Acerca de</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore aut voluptatibus quas enim fuga dignissimos praesentium incidunt exercitationem accusantium debitis, magni, autem nihil laborum quam! Explicabo, ipsum totam maiores facere voluptatibus, quae dolor atque ipsam architecto quaerat, illum incidunt quo!</p>
    </div>
</div>