<div class="jumbotron mt-4">
    <h2 class="siplay-4">Aplicacion de Contactos con Node.js y MongoDB</h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia assumenda ut aspernatur libero? Laboriosam quidem necessitatibus perspiciatis ipsam rerum id ducimus maxime. Similique mollitia animi laboriosam ipsum voluptatem a quo.</p>
    <a href="http://localhost:3000/" class="btn btn-primary btn-lg">Contacts App</a>
</div>